body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: $off-white;
    &.nav--active { overflow: hidden; }

    main {
        height: 100%; width: 100%;
        overflow: hidden;
        & > section {
            min-height: 100vh; height: 100%;
            width: 100vw;
            padding: 24px 18px 62px 18px;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 0; width: 0;
                bottom: -32px; left: calc(50% - 15px);
                border: 15px solid transparent;
                border-top-color: $off-white;
                z-index: 2;
            }

            &.about {
                background-image: url('../images/top-background-image.jpeg');
                background-color: dimgrey;
                background-blend-mode: screen, difference, lighten;
                background-size: auto 100%;
            }

            &.projects {
                border-top: 2px solid $off-white;
                background-color: $blue;
                position: relative;
                color: $off-white;
                &::after { border-top-color: $blue; }
            }

            &.contact-us {
                border-top: 2px solid $blue;
                background-color: $off-white;
                position: relative;
                color: $blue;
            }
        }
    }

    @media only screen and (min-width: 320px) {
        .profile-image {
            height: 150px; width: 150px;
            border: 3px solid $blue;
            background-image: url('../images/George-rae.jpg');
            background-size: 150px 150px;
            background-repeat: no-repeat;
            background-color: #666;
            background-blend-mode: screen, difference, lighten;
            border-radius: 50%;
            display: block;
            margin-top: 59px;
            margin: 59px auto 0;
        }

        .introduction h1 {
            font-size: 24px; line-height: 30px;
            margin-bottom: 12px;
            font-weight: 600;
            letter-spacing: .75px;
            color: $dark-grey;
        }
    }

    @media only screen and (min-width: 768px) {
        div.intro-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-top: 40px;

            .profile-image {
                width: 250px; height: 250px;
                background-size: 100% 100%;
            }
            article {
                width: 48%; display: inline-block;
            }
        }
    }
}
