header {
    @media only screen and (min-width: 320px) {
        display: block;
        position: fixed;
        height: 59px; width: 100vw;
        background-color: rgba(248, 248, 248, .6);
        padding: 16px 18px;
        z-index: 10;

        span.name {
            font-size: 24px; line-height: 27px;
            font-weight: 600;
            color: #333;
        }

        .mobile-nav-button {
            height: 26px; width: 32px;
            box-sizing: border-box;
            position: absolute;
            right: 18px; top: 16px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            z-index: 10;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px; width: 32px;
                background: #333;
                opacity: 1;
                border-radius: 5px;
                margin-top: 0; left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                &:nth-child(1) { top: 0px; }
                &:nth-child(2) { top: 12px; }
                &:nth-child(3) { top: 24px; }
            }


            &.open {
                span { background-color: $off-white; }
                span:nth-child(1) {
                    top: 13px; left: 0px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                span:nth-child(2) { opacity: 0; left: -30px; }
                span:nth-child(3) {
                    top: 13px; left: 0px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }

        nav {
            position: fixed;
            padding: 15px;
            z-index: 5;
            top: 0; right: 0;
            transform: translateX(100vw);
            background-color: rgba(105, 124, 132, .9);
            transition: transform .3s ease-in-out;
            width: 100vw; height: 100%;
            ol {
                line-height: 41px;
                font-size: 26px; font-weight: 400;
                font-family: 'Oswald', sans-serif;
                margin-top: 110px;
                text-align: center;
                a { color: $off-white; }
            }
            &.nav--active { transform: translateX(0); }
        }
    }

    @media only screen and (min-width: 600px) {
        & > section {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .mobile-nav-button { display: none; }
        nav {
            position: static;
            display: inline-block;
            transform: none;
            width: 250px;
            background: none;
            padding: 0;
            ol {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                margin-top: 0; height: 100%;
                font-size: 18px;
                line-height: 1;
                a { color: $dark-grey; }
            }
        }
    }
}
