* { box-sizing: border-box; }
html {
    width: 100%; height: 100%;
    background-color: #e6e6e6;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px; line-height: 1;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #f2f2f2;
    position: relative;
}

main {
    background-image: url('images/top-background-image.jpeg');
    background-size: auto auto;
    height: 100vh; width: 100vw;
}

@media only screen and (min-width: 320px) {
    header {
        display: block;
        position: fixed;
        height: 59px; width: 100vw;
        background-color: transparent;
        padding: 16px 12px;
    }

    header span.name {
        font-size: 24px; line-height: 27px;
        font-weight: 600;
        color: #333;
    }

    .mobile-nav-button {
        height: 26px; width: 32px;
        box-sizing: border-box;
        position: absolute;
        right: 12px; top: 16px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        z-index: 10;
        cursor: pointer;
    }

    .mobile-nav-button span {
        display: block;
        position: absolute;
        height: 3px; width: 32px;
        background: black;
        opacity: 1;
        border-radius: 5px;
        margin-top: 0; left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    .mobile-nav-button span:nth-child(1) { top: 0px; }
    .mobile-nav-button span:nth-child(2) { top: 12px; }
    .mobile-nav-button span:nth-child(3) { top: 24px; }

    .mobile-nav-button.open span { background-color: #5e87c9; }
    .mobile-nav-button.open span:nth-child(1) {
        top: 13px; left: 0px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .mobile-nav-button.open span:nth-child(2) { opacity: 0; left: -30px; }
    .mobile-nav-button.open span:nth-child(3) {
        top: 13px; left: 0px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    header nav {
        position: fixed;
        padding: 15px;
        z-index: 5;
        top: 0; right: 0;
        transform: translateX(100vw);
        background-color: rgba(0, 0, 0, .9);
        transition: transform .3s ease-in-out;
        width: 100vw; height: 100%;
    }

    header nav ol {
        line-height: 41px;
        color: #1c3f77;
        font-size: 26px; font-weight: 400;
        font-family: 'Oswald', sans-serif;
        margin-top: 110px;
        text-align: center;
    }

    header nav ol a { text-decoration: none; }
    header nav.nav--active { transform: translateX(0); }
}

section { height: 100vh; }
